spring:
  application:
    name: clinic
  datasource:
    url: jdbc:postgresql://localhost:5432/clinic_db
    username: clinic_user
    password: clinic_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

server:
  port: 8080
